snippet jira "JIRA commit template" b
${1:PUFFIN-}$2: $0
endsnippet

snippet nojira "Commit/PR with no JIRA card" b
NO-JIRA: $1
endsnippet

snippet nocard "Commit/PR with no JIRA card" b
NO-CARD: $1
endsnippet

snippet coauthor "Commit co-author" b
Co-authored-by: ${1:name} <${2:name@example.com}>
endsnippet
