snippet usestate "useState" b
const [${1:state}, set${1/(.*)/\u$1/}] = useState(${2:initialState})
endsnippet

snippet ianon "inline anonymous function" i
(${1:args}) => $2
endsnippet

snippet exdf "export default function" b
export default function ${1:FunctionName}(${2:args}) {
	$3
}
endsnippet

snippet arr "arrow function" w
() => {${1:${VISUAL}}}
endsnippet
# vim:ft=snippets:
