snippet tb "table button" b
<table class="button rounded expanded ${1:brand-bright}">
	<tbody>
		<tr>
			<td>
				<table>
					<tbody>
						<tr>
							<td>
								<center><a href="{{ ${2:link} }}">${3:button text}</a></center>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
$0
endsnippet
