snippet use "use plugin" b
use { '${1:plugin/name}' }$0
endsnippet

snippet mod "lazy.nvim module" b
return {
	'${1:plugin/name}',
	event = '${2:VeryLazy}',
	dependencies = {
		$3
	},
	opts = ${4:{}},
	keys = ${5:{}},
}
endsnippet

snippet lkey "lazy.nvim key" b
{"${1:mapping}", "${2:command}", desc = "${3:desc}"}
endsnippet
