extends typescript

snippet exd "export default" b
export default $1;
endsnippet

snippet if "if" b
if ($1) {
	$0
}
endsnippet

snippet ifn "if not" b
if (!$1) {
	$0
}
endsnippet

snippet arr "arrow func"
() => {
	$0
}
endsnippet

