"*":
  editor:
    invisibles: {}
    fontSize: 13
    tabLength: 4
    preferredLineLength: 120
    scrollPastEnd: true
  core:
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
    destroyEmptyPanes: false
  "exception-reporting":
    userId: "ff311298-d385-4643-bcfb-e92ef9c15714"
  welcome:
    showOnStartup: false
  linter: {}
  whitespace: {}
